
.navbar{
    background-color:seashell;
    }  
.navbar-dark .navbar-nav .nav-link {
    color: teal;
    font-weight: bold;
    font-size: 25px ;
    background-color: seashell;
    }
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: turquoise;
    }

.my_menu{
    color: black;
    background-color: seashell;
    font-weight: bold;
    font-size: 15px ;  
    } 
.my_dropdown {
    color: teal;
    background-color:transparent ;
    font-size: 20px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1.25rem;
    color: teal;
    text-align: left;
    list-style: none;
    background-color: seashell;
    background-clip: padding-box;
    border: 1px transparent;
    border-radius: .25rem;
}

.my_box{
  width: 50%;
 
}
@media (max-width: 991px) {
        .navbar{
        background-color:teal;
        }  
        .my_menu{
            color: black;
            background-color: teal;
            font-weight: bold;
            font-size: 20px ;
        
        } 
        .navbar-dark .navbar-nav .nav-link {
            color: seashell;
            font-weight: bold;
            font-size: 20px;
            background-color: teal;
        }
        .my_dropdown {
            color: seashell;
            background-color:transparent ;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 10rem;
            padding: .5rem 0;
            margin: .125rem 0 0;
            font-size: 1.25rem;
            color: seashell;
            text-align: left;
            list-style: none;
            background-color:teal;
            background-clip: padding-box;
            border: 1px transparent;
            border-radius: .25rem;
        }
    
        .my_box{
      width: 25%;
     
        }
      }


.body {
    background-color: lightgrey;
}

.my_brand{
    color:seashell;
    background-color:teal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px ;
}
/* .r1_c1 {
    color: rgb(255, 255, 255);
    background-color:rgb(20, 90, 83);
} */
.r2_c1 {
    background-color: seashell;
    color: black;
    margin: 15px;
}
.r2_c2 {
    background-color: seashell;
    color: black;
    margin: 15px;
}

.panel{
    border-radius: 4px;
    padding: 1rem;
    margin-top: 2rem;
}
.img_p1{
    margin: 2rem;
    width: 25%;
   
}
.img_p2{
    margin: 1rem;
    width: 90%;
}
.p1h1{
    color: teal;
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.p1h2{
    color: teal;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.p1p1{
    font-size: 30px;
    margin: 40px;

}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    

 
  