.navbar{
    background-color:seashell;
    }  
.navbar-dark .navbar-nav .nav-link {
    color: teal;
    font-weight: bold;
    font-size: 25px ;
    background-color: seashell;
    }
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: turquoise;
    }

.my_menu{
    color: black;
    background-color: seashell;
    font-weight: bold;
    font-size: 15px ;  
    } 
.my_dropdown {
    color: teal;
    background-color:transparent ;
    font-size: 20px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1.25rem;
    color: teal;
    text-align: left;
    list-style: none;
    background-color: seashell;
    background-clip: padding-box;
    border: 1px transparent;
    border-radius: .25rem;
}


.p1h1{
    color: teal;
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
}
.p1h2{
    color: teal;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.p1p1{
    font-size: 30px;
    margin: 40px;
    color:#404040;
}

.fig_l {
    float:left;
    width: 41%;
    text-align:center;
    font-size: small;
    color: teal;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.fig_r {
    float:right;
    width: 41%;
    text-align:center;
    font-size: small;
    color: teal;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
}
.table_box{
    table-layout: fixed;
    text-align: right;
    font-size:14px;
    width: 100%;
}

/* RESIZE FOR SMALLER SCREEN                RESIZE FOR SMALLER SCREEN */
@media (max-width: 991px) {
        .navbar{
            background-color:teal;
        }  
        .my_menu{
            color: black;
            background-color: teal;
            font-weight: bold;
            font-size: 20px ;
        
        } 
        .navbar-dark .navbar-nav .nav-link {
            color: seashell;
            font-weight: bold;
            font-size: 20px;
            background-color: teal;
        }
        .my_dropdown {
            color: seashell;
            background-color:transparent ;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 10rem;
            padding: .5rem 0;
            margin: .125rem 0 0;
            font-size: 1.25rem;
            color: seashell;
            text-align: left;
            list-style: none;
            background-color:teal;
            background-clip: padding-box;
            border: 1px transparent;
            border-radius: .25rem;
        }
    
        .my_box{
      width: 25%;
     
        }
        .p1h1{
            color: teal;
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-left: 30px;
            margin-right: 30px;
            justify-content: center;
        }
        .p1h2{
            color: teal;
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 20px;
        }
        .p1p1{
            font-size: 20px;
            margin: 20px;
            color:#404040;
        }
        .fig_r {
            float:left;
            width: 100%;
            text-align:center;
            font-size: small;
            color: teal;
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            border-color:lightgrey;
            border-width: 2px;
            border-bottom-style:inset;
        }
        .fig_l {
            float:left;
            width: 100%;
            text-align:center;
            font-size: small;
            color: teal;
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            border-color:lightgrey;
            border-width: 2px;
            border-bottom-style:inset;
        }
        .table_box{
            font-size: 10px;
        }
    
      }


@media (max-width: 650px) {
    .table_box{
        font-size: 5px;
    }

}

/*  (screen) size does not matter                   (screen) size does not matter */
.body {
    background-color: lightgrey;
}

.my_brand{
    color:seashell;
    background-color:teal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px ;
}

.r1_c1 {
    background-color: seashell;
    color: black;
    margin: 15px;
}
.img_p2{
    width: 100%;
}
 